<h3>Topics in Social Sciences and Humanities</h3>
<ul> 
  <li>
SH1 Individuals, institutions and markets: economics, finance and management</il>
<li>SH2 Institutions, values and beliefs and behaviour: sociology, social anthropology, political science, law, communication, social studies of science and technology</li>
<li>SH3 Environment and society: environmental studies, demography, social geography, urban and regional studies</li>
<li>SH4 The Human Mind and its complexity: cognition, psychology, linguistics, philosophy and education</li>
<li>SH5 Cultures and cultural production: literature, visual and performing arts, music, cultural and comparative studies</li>
<li>SH6 The study of the human past: archaeology, history and memory.</li>
</ul>
<div id="vis">

</div>

<div class="footer">
  <p>Siris Academic</p>
</div>
